form {
    max-width: 400px;
    margin:  auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(151, 151, 151);
}
h4 {
    text-align: center;
    color:#007bff; /* Slightly darker gray for better contrast */
    font-size: 18px; /* Adjust font size for better readability */
    font-weight: bold; /* Make the text bold */
}

form {
    max-width: 400px;
    margin: auto;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}


p a {
    color: #007bff;
    text-decoration: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.register {
    display: none;
}

.error-popup {
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}